lab01/ICT3101_Calculator/ICT3101_Calculator.UnitTests/obj
lab01/ICT3101_Calculator/ICT3101_Calculator.UnitTests/bin
lab01/ICT3101_Calculator/ICT3101_Calculator/obj
lab01/ICT3101_Calculator/ICT3101_Calculator/bin
lab02/ICT3101_Calculator/ICT3101_Calculator.UnitTests/obj
lab02/ICT3101_Calculator/ICT3101_Calculator.UnitTests/bin
lab02/ICT3101_Calculator/ICT3101_Calculator/obj
lab02/ICT3101_Calculator/ICT3101_Calculator/bin
lab02/ICT3101_Calculator/SpecFlowCalculatorTests/obj
lab02/ICT3101_Calculator/SpecFlowCalculatorTests/bin
lab03/ICT3101_Calculator/ICT3101_Calculator.UnitTests/bin
lab03/ICT3101_Calculator/ICT3101_Calculator.UnitTests/obj
lab03/ICT3101_Calculator/ICT3101_Calculator/obj
lab03/ICT3101_Calculator/ICT3101_Calculator/bin
lab03/ICT3101_Calculator/SpecFlowCalculatorTests/obj
lab03/ICT3101_Calculator/SpecFlowCalculatorTests/bin